

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap');

html{
    font-family: 'Noto Sans KR', sans-serif;
}
.wrap_div{
    width: 70%;
    margin: auto;
}
.caption{
    border-radius: 5px;
    background-color: pink;
    color: white;
    padding: 15px;
}
input,select{
    padding: 5px 0px 5px 0px;
}
td{
    padding: 5px;
}
.btn > input{
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: pink;
    color: white;
    padding: 15px;
}
.btn{
    text-align: center;
}
